body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.banner{
    background-image: url('../images/BG.png');
    width: 100%;
    height: 1000px;
    background-size: cover;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding-top: 2%;
}

.navLogoContainer{
 
    margin-left: 5%;
}

.schoolLogo{
    height: 100px;
    width: 200px;
    /* border: 1px solid red; */
}

.navLinksContainer{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid greenyellow; */
    gap: 136px;
    margin-right: 5%;
    align-items: center;
    width: 60%;
    height: 100px;
}



.navLink{
    color: whitesmoke;
    font-size: 19px;
}

.navLinkButton{
    color: whitesmoke;
    font-size: 19px;
    background-color: #14AB00;
    display: flex;
    height: 50px;
    width: 140px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.navLinkButton:hover{
  cursor: pointer;
  background: #F98E2B;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;

}


.bannerContent{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 83px;
    height: 70%;
    width: 80%;
}

.schoolInfoCont{
    /* border: 1px solid yellow; */
    width: 56%;
    height: 100%;
    color: whitesmoke;
    line-height: 63px;
    margin-top: 213px;
}

.schoolName{
    font-size: 40px;
}

.schoolDetails{
    font-weight: 700;
}

.schoolDetailsIcon{
    height: 18px;
    margin-right: 10px;
}



.formSection{
    width: 27%;
    height: 60%;
    margin-bottom: 15%;
}

  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    margin: auto;
    overflow: hidden;
    padding: 20px 20px 20px 20px; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7), 0 5px 5px 0 rgba(0, 0, 0, 0.64);
    border-radius: 20px ;
    background: white;
  }
  
  
.reachUsHeadingForm {

    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-left: 40%;
    margin-bottom: 3px;

    color: gray;
  }
  
  
  .talkToUsHeadingForm {
    display: block;
    font-size: 20px;
    font-weight: 800;
    margin-left: 32%;

    margin-bottom: 13px;
   
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fafafa;
    margin: 5px 10px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: none;
  /*   background: #4CAF50; */
   background: #7C45EA;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }


  .statisticsContainer{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 263px;
      background: #d1e9f3;
  }

  .statisticsContainerItem{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .statisticsContainerItem > img{
      width: 70%;
      height: 50px;
      margin-bottom: 20px;
  }


  .statisticsContainerItemLine-1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #F98E2B;
  }

.statisticsContainerItemLine-2{
    margin-bottom: 10px;
}


.aboutSchoolCont{
    margin-left: 3%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.aboutDetails{
  height: 88%;
  width: 29%;
  /* border: 1px solid green; */
  display: flex;
  /* display: grid; */
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutDetalisHeading{
  color: #0099FF;
  font-size: 50px;
}

.aboutDetalisPara{

}

.aboutButtons{
  display: flex;
  justify-content:flex-start ;
  align-items: center;
}

.aboutButton{
  color: whitesmoke;
  font-size: 19px;
  background-color: #F98E2B;
  display: flex;
  height: 50px;
  width: 140px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.aboutButton:hover{
  cursor: pointer;
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}



.aboutBanner{
height: 100%;
width: 44%;
/* border: 1px solid yellow; */
}

.aboutBanner > img{
  width: 96%;
}


.tourSection{
  display: flex;
  flex-direction: column;
  background: #d1e9f3;
  height: 820px;
}

.tourContainer{
  width: 65%;
  margin: auto;
  height: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tourHeading{
  color: rgb(0, 153, 255);
  /* padding: 3%; */
  font-size: 50px;
  width: 36%;
  height: 8%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: -1%;
}

.innnerContTourLeft{

  width: 40%;
  height: 100%;
  display: flex;
    flex-direction: column;
    gap: 2%;

}

.innerContTourRight{

  width: 40%;
  height: 100%;
  display: flex;
    flex-direction: column;
    gap: 2%;


}

.upperCont{
  display: flex;

  width: 100%;
 
 


}


.lowerCont{

  width: 100%;
  height: 53%;
  width: 100%;
  align-items: center;

}

.upperContRight{
 
  width: 100%;
 
}

.lowerContRight{
  display: flex;
  width: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}



.smallTourImage{
  width:90%;
}

.smallTourImageRight{
  width: 90%
}

.biggerTourImageLeft{
  width: 25vw;
    height: 32vh;
}

.biggerTourImageRight{
  width: 25vw;
  height: 31vh;
}


.buttonTourSection{
  color: whitesmoke;
  font-size: 19px;
  background-color: #F98E2B;
  display: flex;
  height: 50px;
  width: 230px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: auto;
}

.gallarySection{
  width: 100%;
  height: 600px;
  /* border: 1px solid red; */
}

.galleryHeading{
  color: #0099FF;
  padding: 3%;
  padding-left: 9%;

  font-size: 50px;
  width: 18%;
  margin: auto;
  margin-top: 2%;


}

.galleryContainer{
  /* border: 1px solid red; */
  width: 70%;
  height: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideContainerGallery{
  width: 33%;
  height: 100%;
  /* border: 1px solid green; */
  padding: 2%;
}

.insideContainerGallery > div{
font-size: 20px;
margin-top: 3%;
}



.galleryImage{
width: 100%;
height: 50%;
}

.prinicipalSection{
  margin: auto;
  width: 70%;
  display: flex;
  background: #d1e9f3;
}

.prinicipalSectionCont1{
  width: 50% ;
  height: 90%;
  /* border: 1px solid blue; */
  padding: 2%;
  /* padding: 5%; */
}

.prinicipalSectionCont1 > p{
line-height:25px;
}

.principalName{
  color:#0099FF;
  font-weight: 500;
}

.principalImage{
  width: 66%;
    height: 100%;
    float: right;
}

.programsOfferedSection{
  width: 100%;
  height: 733px;
  /* border: 1px solid red; */
  
}

.programsOfferedHeading{
  color: #0099FF;
  padding: 3%;
  padding-left: 9%;

  font-size: 50px;
  width: 35%;
  margin: auto;
  margin-top: 2%;
}

.programsOfferedContainer{

   /* border: 1px solid red; */
   width: 70%;
   height: 73%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.insideProgramsOfferedContainer{
  width: 33%;
  height: 88%;
  /* border: 1px solid green; */
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
/* border: 1px solid red; */

}

.programsCardHeading{
  font-size: 20px;
  margin-top: 3%;
  font-weight: 600;
  /* border: 1px solid blue; */
  width: 21vw;
  margin: auto;
  display: flex;
  justify-content: center;
  }

  .programsOfferedImage{
    width: 69%;
    height: 50%;
    }

  .programsOffered{
    width: 100%;
    height: 50%;
    }

    .schoolFeaturesSection{
      width: 100%;
      height: 733px;
      background: #d1e9f3;
      
    }

    .featuresCardHeading{
      font-size: 20px;
      margin-top: 3%;
      font-weight: 600;
      
      width: 21vw;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    
    .newsAndEventSection{
       /* border: 1px solid red; */
      height: 60vh;
      width: 70vw;
      margin: auto;
      margin-top: 8vh;
      margin-bottom: 100px;
      display: flex;
    }
    

    .newsEventInnerCont{
      /* border: 1px solid blue; */
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .newsEventInnerCont > img{
      width: 71%;
      height: 83%;
    }

    .newsEventInnerCont2{
      /* border: 1px solid blue; */
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
 
      /* align-items: center; */
    }

    .newsEventHeading{
      color: #0099FF;
      font-size: 50px;
      margin-top: 4%;
    }

    .newsEventSubHeading{
      font-size: 25px;
      margin-top: 50px;
    }

    .newsEventInnerCont2 > p{
      margin-top: 6%;
    }

    .buttonIcon{
      width: 10%;
      margin-top: 4%;
    }


  
.ratingSectionOuterCont{
  background: #d1e9f3;
}

    .ratingSection{
      width: 70%;
      height: 35vh;
      margin: auto;
      background: white;
    }

    .ratingHeading{
      color: rgb(0, 153, 255);
    padding: 3%;
    font-size: 50px;
    width: 36%;
    margin: auto;
    display: flex;
    justify-content: center;
    }

    .ratingsCont{
      display: flex;
      width: 100%;
      /* height: 70%;/ */
    justify-content: space-around;
    margin-top: 5%;
   
    }

    .ratingItem{
      border: 1px sild blue;
      width: 16%;
      height:40% ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-right: 2px solid gray;
      /* line-height: 30%; */
    }

    .rating{
      font-size: 40px;
      font-weight: 600;
      margin-top: 8%;
    }


    #syllabus {
      /* background-image: linear-gradient(155deg, #4661db, #4fb4c9); */
      background: #d1e9f3;
    }
    
    .container-syllabus {
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    
    .faqSearchDiv{
      width: 100%;
      display: flex;
      justify-content: center;
    }
 
    .faqSearchBox{
      width: 35%;
      padding: 1%;
      border: 2px solid orange;
      border-radius: 12px;
    }

    .searchIconGreen {
      width: 67%;
      margin-top: 31%;
      margin-left: -89%;
    }

    .container-syllabus h1 {
      color: #0099FF;
    font-size: 50px;
    /* margin-top: 4%; */
    width: 70%;
    margin: auto;
    font-weight: 400;
    margin-top: 4%;
    margin-bottom: 4%;
    }
    
    .accordion {
      width: 100%;
      max-width: 1000px;
    }
    
    .accordion-item {
      background-color: #ecf3fc;
      color: #111;
      margin: 1rem 0;
      
      /* border-radius: 0.5rem; */
      /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25); */
    }
    
    .accordion-item-header {
      padding: 0.5rem 3rem 0.5rem 1rem;
      min-height: 3.5rem;
      line-height: 1.25rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }
    
    .accordion-item-header::after {
      content: "\02C7";
      font-size: 3rem;
      position: absolute;
      right: 1rem;
    }
    
    .accordion-item-header.active::after {
      content: "\02C6";
    }
    
    .accordion-item-body {
      background: #fff;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    
    .accordion-item-body-content {
      padding: 1rem;
      line-height: 1.5rem;
      border-top: 1px solid;
    }
    
    .lists {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none;
      padding-left: 0;
    }
    
    .flex-item {
      padding-bottom: 35px;
      border-bottom: 1px solid black;
    }
    
    .border-none {
      border: none;
    }


    .contactSection{
      width: 100%;
      height: 65vh;
      background: #d1e9f3;
      /* border: 1px solid red; */
      padding-top: 5%;
    }

    .contactContainer{
      /* border: 1px solid red; */
      width: 70%;
      height: 300px;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

    }

    .innerContactCont{
      background-color: #ecf3fc;;
      width: 30%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 210%;
    }

    .innerContactCont img{
      width: 14%;
      margin-bottom: 6%;
    }


    .contactCardHeading{
      font-size: 28px;
      font-weight: 500;
    }

    .contactHeading{
      color: rgb(0, 153, 255);
      padding: 3%;
      font-size: 50px;
      width: 36%;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .quotesHeading{
      color: rgb(0, 153, 255);
      padding: 3%;
      font-size: 50px;
      width: 65%;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .contactSection > p{
      width: 19%;
      margin: auto;
      margin-top: 1%;
      margin-bottom: 1%;
    }


    .glide__arrow {
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      top: 50%;
      width: 60px;
      height: 60px;
      border: 1px solid #fff;
      border-radius: 50%;
      z-index: 10;
      color: #17956A;
      background: white;
      font-size: 50px;
      text-transform: uppercase;
      padding: 9px 12px;
      box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
      text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
      opacity: 1;
      cursor: pointer;
      transition: opacity 150ms ease, border 300ms ease-in-out;
      transform: translateY(-50%);
      line-height: 1;
    }

    .explore-content-name{
      color: #0099FF;
    }
    
    
    
    .glide__arrow:focus {
      outline: none;
    }
    
    .glide__arrow:hover {
      border-color: white;
    }
    
    .glide__arrow--left {
      left: 0
    }
    
    .glide__arrow--right {
      right: 0
    }
    
    .glide__arrow--disabled {
      opacity: 0.33;
    }
    
    .glide {
      position: relative;
      width: 100%;
      box-sizing: border-box
    }
    
    .glide * {
      box-sizing: inherit
    }
    
    .glide__track {
      overflow: hidden
    }
    
    .glide__slides {
      position: relative;
      width: 100%;
      list-style: none;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      touch-action: pan-Y;
      padding: 0;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      will-change: transform
    }
    
    .glide__slides--dragging {
      user-select: none
    }
    
    .glide__slide {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      white-space: normal;
      user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      background-color: white;
    }
    
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none
    }
    
    .glide__arrows {
      -webkit-touch-callout: none;
      user-select: none
    }
    
    .glide__bullets {
      -webkit-touch-callout: none;
      user-select: none
    }
    
    .glide--rtl {
      direction: rtl
    }
    
    
    .img-1::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/degree_home_card__1627290063294.png') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
 

    .explore-content-img{
      width: 26%;
      height: 20%;
    }

    .explore-content-para {
      margin-top: -24%;
  }
  
    .img-3::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/uplift_516x336__1624869014222.jpg') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-4::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/516x336_fc__1624859786235.png') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-5::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/Program-card-516x336__1628170363123.jpg') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-6::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/bimtech_marketing_small__1603295078228.png') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-7::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/mba_small__1598207441561.png') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-8::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/msds_small__1597340276043.png') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-9::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/enterprise_brochure__1607697767861.jpg') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-10::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/online_workshops_small__1629458977106.jpg') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-11::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/live_classes_small__1629458485076.jpg') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-12::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/masterclass_small__1629461083279.jpg') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .img-13::before {
      content: '';
      position: absolute;
      /* height: inherit; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, .85) 0, rgba(91, 90, 90, 0) 70%), url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/short_videos_small__1629459717360.jpg') no-repeat;
      opacity: 0.9;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
      -webkit-border-radius: 15px;
    }
    
    .explore {
      position: relative;
      width: 300px;
      height: 300px;
      padding: 12px;
      transition: all .2s ease-in-out;
      cursor: pointer
    }
    
    .explore:hover {
      /* transform: scale(1.1); */
    }
    
    .courses-container {
      width: 1600px;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      align-items: center;
    }
    
    #quotes{
      width: 100%;
      height: auto;
      background: #d1e9f3;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    .explore-content h1 {
      width: calc(55% + 100px);
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      color: #fff;
      text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }
    
    .explore-content button {
      position: relative;
      width: fit-content;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      color: #fff;
      background: rgba(255, 255, 255, .17);
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 5px 30px;
    }
    
    .explore-content {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }